@import "tailwindcss";

@theme {

        --color-dark: #0D1117;
        --color-light: #FFFFFF;
        --color-highlight: #E3FF6A;
        --color-neon-green: #A4FF7A;
        --color-deep-blue: #1E293B;
        --color-soft-gray:#8892B0;
        --color-gradient-main: linear-gradient(135deg, #A4FF7A 0%, #13611F 100%);
     }
